---
import { Image } from "astro:assets";
import ig1 from "../assets/images/ig1.jpg";
import ig2 from "../assets/images/ig2.jpg";
import ig3 from "../assets/images/ig3.jpg";
import ig4 from "../assets/images/ig4.jpg";
import ig5 from "../assets/images/ig5.jpg";
import ig6 from "../assets/images/ig6.jpg";
import ig7 from "../assets/images/ig7.jpg";
import ig8 from "../assets/images/ig8.jpg";
---

<section class="py-16 text-black pt-7xl pb-7xl">
  <!-- Heading -->
  <h1
    class="text-center text-3xl sm:text-4xl md:text-display-h5 font-display uppercase mb-8"
  >
    FØLG OS PÅ SOCIALE MEDIER
  </h1>

  <!-- Grid of Images -->
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 px-6 sm:px-12">
    <!-- Image 1 -->
    <div class="w-full h-full">
      <Image
        src={ig1}
        alt="Instagram Image 1"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 2 -->
    <div class="w-full h-full">
      <Image
        src={ig2}
        alt="Instagram Image 2"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 3 -->
    <div class="w-full h-full">
      <Image
        src={ig3}
        alt="Instagram Image 3"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 4 -->
    <div class="w-full h-full">
      <Image
        src={ig4}
        alt="Instagram Image 4"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 5 -->
    <div class="w-full h-full">
      <Image
        src={ig5}
        alt="Instagram Image 5"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 6 -->
    <div class="w-full h-full">
      <Image
        src={ig6}
        alt="Instagram Image 6"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 7 -->
    <div class="w-full h-full">
      <Image
        src={ig7}
        alt="Instagram Image 7"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <!-- Image 8 -->
    <div class="w-full h-full">
      <Image
        src={ig8}
        alt="Instagram Image 8"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>
  </div>
</section>
